@page "/api/Nota"
@using Web_ITSC_Shared.DTO
@inject IHttpServicios http

<h3>Lista Notas</h3>
<br />
<div class=>
	<label for="search">Introduzca el Id</label>
	<InputText></InputText>
</div>


@code {



}

