@inject IHttpServicios http

<select @onchange="OnProvinciaChanged">
    <option value="">Seleccione una provincia</option>
    @foreach (var provincia in Provincias)
    {
        <option value="@provincia.Id">@provincia.Nombre</option>
    }
</select>

@code {
    private List<Provincia> Provincias = new List<Provincia>();

    [Parameter] public int PaisId { get; set; }
    [Parameter] public EventCallback<int> OnProvinciaSelected { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (PaisId > 0)
        {
            Provincias = await http.SelectProvinciasPorPaisAsync(PaisId);
        }
    }

    private async Task OnProvinciaChanged(ChangeEventArgs e)
    {
        int selectedProvinciaId = int.Parse(e.Value.ToString());
        await OnProvinciaSelected.InvokeAsync(selectedProvinciaId);
    }
}

